/scripts/Set-WhatsAppEnvVars.ps1
.vscode
.vs
/docs
obj
bin
*.user
*.suo
*.cache
*.log
*.vspscc
*.vssscc    
*.pidb
*.scc
*.dll
*.css
*.pfx
*.bkp

.secrets

.well-known
compilerconfig.json
test-resource-key.json

Snebur.AppHost/Settings/

temp/
copilot-instructions.md
tools/
Web.config

Snebur.TenantPortal.BlazorWasm/


